* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('img/clouds-bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Fcute";
}


p {
    font-size: 20px;
    font-family: "Fcute";
}

@font-face {
    font-family: Aldrich;
    src: url(fonts/Aldrich-Regular.ttf);
}

@font-face {
    font-family: Michroma;
    src: url(fonts/Michroma-Regular.ttf);
}

@font-face {
    font-family: Fcute;
    src: url(fonts/Sniglet-Regular.ttf
    );
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #33efd9, #0b76af);
    border-bottom: 2px solid rgb(8, 8, 113);
    box-shadow: 2px 2px 6px;
    padding: 15px;
    width: auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Site {
    font-size: 25px;
    margin-left: 20px;
    font-family: "Michroma";
    font-weight: bold;
}

.nav-links {
    float: right;
}

.nav-links a {
    padding: 20px;
    font-family: "Aldrich";
    font-size: 20px;
    text-decoration: none;
}
.nav-links a:hover {
    background-color: #25c1e4;
}

.Description {
    padding: 45px;

}

.grid-about {
    margin: 0 auto;
    margin-top: -20px;
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid darkblue;
    overflow: hidden;
    background: linear-gradient(135deg, #22c0ff, #072d78);
    box-shadow: 2px 2px 6px;
}

.contains {
    padding: 30px;
}

#img-section2 {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 280px;
}

.footer {
    background: linear-gradient(135Deg, blue, darkblue);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: auto;
    margin: 0 auto;
}